:root{
    --primary-color: #0f172a;
    --secondery-color:#dde5f0;
    --title-size-36: 36px;
    --title-size-24:24px;
    --text-size-18:18px;
    --text-size-20:20px;
    --text-size-12:12px

}
*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: 'Rubik', sans-serif;
    color: var(--primary-color);
    min-height: 100vh;
    width: 100%;
}
.mobile-navbar{
    display: none;
}
button{
    font-family: 'Rubik', sans-serif;
    border-radius: 5px;
    padding: 0.2em 0.5em;
    border: 1px solid var(--primary-color);
    background-color: transparent;
    cursor: pointer;
}
.singal-project-btns a:hover,
.social-media-links-projects a:hover,
button:hover{
    background-color: var(--primary-color);
    color: #aacbff;
}
.nav-frame{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*box-shadow: 0 1px 4px rgb(146 161 176 / 20%);*/
}
.navbar ul{
    display: flex;
    align-items: center;
    
}
.navbar li{
    list-style-type: none;
}
.navbar a{
 text-decoration: none;
 padding: 1em;
 color: var(--primary-color);
 font-size: var(--text-size-18);
}
.navbar a:hover{
    color: #007cff;
    font-weight: bolder;
}
.bgContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--secondery-color);
    padding:2%;
    background-image:linear-gradient(rgb(81, 175, 199), rgb(62, 121, 231) 100%);
}
.bgContainer img{
    width: 20%;
}
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    line-height: 2em;
}
.title{
    font-weight: bold;
    font-size: var(--title-size-36);
    color: var(--primary-color);
}
.second-title{
    font-size: var(--title-size-24);
    color: var(--primary-color);
}
.social-media-links{
    display: flex;
    justify-content: center;
}
.social-media-links-projects{
    display: flex;
    justify-content: center;
}
.social-media-links-projects a{
    font-size: var(--text-size-20);
    border: 1px solid black;
    border-radius: 5px;
    padding: 0 0.5em;
}
.social-media-links a svg:hover{
    fill: #4bcbcf;
}
.singal-project-btns a{
    border: 1px solid black;
    padding: 3px 10px;
    border-radius: 5px;
    margin: 0.15em 0;
}
.singal-project-btns a,
.social-media-links-projects a{
    text-decoration: none;
    color: var(--primary-color);
}
#main-about{
   padding: 2em;
}
.self-description{
    flex-wrap: wrap;
}
.projects-title h2{
    margin-top: 1em;
}
#projects-grid{
    display: flex;
    margin: 0 0.8em;
    flex-wrap: wrap;
    justify-content: center;
}
.singal-project{
    padding: 0.5em;
    margin: 0.7em;
    border: 1px solid var(--primary-color);
    border-radius: 15px;
    width: 25%;
}
.singal-project-columns{
    display: grid;
    grid-template-columns: 0.5fr 2.5fr 1fr;
    padding-top: 0.5em;
    align-items: center;
}
.singal-project p{
    font-size: var(--text-size-12);
}
.singal-project .gray-p{
    font-size: var(--text-size-12);
    color: rgb(166, 167, 167);
    margin: 1.2em 0;
}
.singal-project p{
    text-align: left;
    padding: 0 0.3em;
}
.singal-project-btns{
    display: grid;
    align-items: center;
    justify-content: center;
}
.singal-project img{
    width: 4em;
    height: 4em;
}
.note{
    font-weight: 700;
}
#footer{
    color: var(--secondery-color);
    margin: 0;
    line-height: 3em;
    background-color: #ffffff;
}
.rights,
#footer p{
    color: var(--primary-color);
    margin: 0;
    padding: 0;
}
.contact button{
    margin: 0.5em;
    border-color: transparent;
}
.contact button:hover{
    margin: 0.5em;
    box-shadow: 0 1px 4px rgb(146 161 176 / 80%);
    background-color: transparent;
}
.contact img{
    width: 3em;
    height: 3em;
}
.contact{
    display:flex;
   justify-content: center;
   flex-direction: column;
   box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}
.singal-project-image{
    text-align: center;
}
.self-description{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 0 25%
}

.projects-title,
.singal-project h4,
.singal-project-btns,
.self-description,
#about h2,
.contact a,
.rights,
#footer p,
#footer{
    text-align: center;
}
@media screen and (min-width: 200px) and (max-width: 417px){
    #main-about,
    #main-projects,
    #header-title{
        text-align: center;
        padding: 1em;
    }
    .social-media-links{
        padding-bottom: 0;
    }
    .social-media-links svg{
        width: 20px;
        height: 30px;
    }
    .mobile-navbar{
        display: block;
    }
    .nav-frame{
        display: none;
    }
    .title{
        font-size: var(--title-size-24);
    }
    .second-title {
        font-size: var(--text-size-12);
        line-height: 1em;
    }
    .social-media-links-projects a {
        font-size: 10px;
    }
    #projects-grid{
        flex-wrap: wrap;
    }
    .self-description{
        padding: 0;
    }
    .singal-project{
        padding: 0 1em;
        margin: 0.7em;
        border: 2px solid var(--primary-color);
        width: 100%;
    }
    .singal-project-btns button{
        width: 90%;
        font-size: var(--text-size-12);
    }
    .singal-project img {
        width: 3.5em;
        height: 3.5em;
    }
    .contact button{
        padding:0 0.2em;
        margin:0 0.2em;
    }
    .bgContainer img{
        width: 45%;
        height: 20vh;
    }
}
@media screen and (min-width: 418px) and (max-width: 900px){
    .nav-frame{
        display: none;
    }
    .mobile-navbar{
        display: block;
    }
    .social-media-links svg{
        width: 35px;
        height: 30px;
    }
    .bgContainer img{
        width: 55%;
        /*height: 55vh;*/
    }
    .second-title {
        font-size: 20px;
        line-height: 1.5em;
    }
    .logo-link img {
        width: 10em; /* Adjust the logo size as needed */
    }
    .social-media-links-projects a {
        font-size:14px;
    }
    .self-description{
        padding: 0 5%;
    }
    #projects-grid{
        flex-wrap: wrap;
    }
    .singal-project{
        padding: 0 0.3em;
        margin: 0.7em;
        width: 100%;
    }
    .singal-project img{
        width: 3em;
        height: 3em;
        
    }
    .singal-project h4{
        font-size:var(--text-size-18);
    }
    .singal-project-btns button{
        width: 90%;
        font-size: var(--text-size-12);
    }
    .singal-project-columns img{
        margin: 0.2em;
    }
    
}
@media screen and (min-width: 1000px) and (max-width: 1600px){
.bgContainer img {
    width: 30%;
}
}
/***** burger******/

.container {
    max-width: 1050px;
    width: 100%;
    margin: auto;
}
  
.burger-navbar {
    width: 100%;
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}
  
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}
  
.burger-navbar .menu-items {
    display: flex;
}
  
.burger-navbar .nav-container li {
    list-style: none;
    text-align: left;
    margin: 0.5em;
}
  
.burger-navbar .nav-container a {
    text-decoration: none;
    color: #0e2431;
    font-weight: 500;
    font-size: 1.2rem;
}
  
.burger-navbar .nav-container a:hover{
      font-weight: bolder;
}
  
.nav-container {
    display: block;
    position: relative;
    height: 4em;
    width: 95%;
}
  
.nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}
  
.nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 23px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
.nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
}
  
.nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}
  
.nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}
  
.nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}
  
.burger-navbar .menu-items{
    padding-top: 120px;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    height: 40vh;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    background-color: #dde5f0;
}
  
.navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
}
  
.logo {
    position: absolute;
    right: -1px;
}
  
.nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
}
  
.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
}
  
.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
}
  
.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
}
  
.nav-container input[type="checkbox"]:checked ~ .logo{
    display: none;
}

/*.burger-navbar{
    display: flex;
    justify-content: space-between;

}
.menu-btn{
    background-color: #fff;
}
.menu-btn button{
    background-color: transparent;
    margin-top: 1.5em;
    border: none;
}
.line{
    width: 30px;
    height: 4px;
    background-color: #242323;
    margin-bottom: 0.5em;
    border-radius: 2px;
}
.menu-items{
    display: none;
}
.menu-items {
    background-color: rgb(32, 145, 211);
    padding:1em;
}
.menu-items a{
    text-decoration: none;
    color: #242323;
}
.menu-items li{
    list-style: none;
    padding: 0.3em 1.5em;
}*/